@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  color: #1d1e35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}

button {
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-align: left;
}

button:hover {
  color: #f47c57;
}

p {
  margin: 0%;
  text-align: left;
}

hr {
  border: 1px solid #e7e7e9;
}

#ans1, #ans2, #ans3, #ans4, #ans5 {
  display: none;
  padding: 10px 0px;
  color: #787887;
}

/* classes */
.container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 800px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq-content {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  padding: 20px 0px;
}

/* images */
.image-box {
  width: 400px;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: 650px;
  background-repeat: no-repeat;
  background-position-x: -360px;
  background-position-y: -150px;
  height: 450px;
}

.box {
  position: relative;
  height: 100px;
  top: -230px;
  left: -50px;
}

.image-container {
  height: 100%;
  background-image: url("../images/illustration-woman-online-desktop.svg");
  background-size: 350px;
  background-repeat: no-repeat;
  background-position-x: -60px;
  background-position-y: 100px;
}

.woman-mobile {
  visibility: hidden;
}

/* content section */
.question-container {
  width: 350px;
}

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.attribution {
  color: #4a4b5e;
  padding-top: 20px;
}

.attribution a {
  color: #4a4b5e;
}

.attribution a:hover {
  color: #ffffff;
}

/* media queries */
@media (max-width: 900px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 100px;
  }
  .faq-content {
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  .image-box {
    background-image: url("../images/bg-pattern-mobile.svg");
    background-size: 225px;
    background-repeat: no-repeat;
    height: 100px;
    background-position-x: center;
    background-position-y: center;
  }
  .image-container {
    background-size: 0px;
    height: auto;
    width: auto;
  }
  .woman-mobile {
    visibility: visible;
    position: relative;
    bottom: 100px;
    left: 50px;
  }
  .box {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    height: auto;
  }
  .image-box {
    width: 100%;
  }
  .question-container {
    width: auto;
  }
  .woman-mobile {
    left: 0%;
  }
}
/*# sourceMappingURL=styles.css.map */